/**
    * Heading.scss
    *
    * Headings
*/

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4
{
    font-weight: $heading-font-weight;
    line-height: $heading-font-height;
}

h1, .h1{font-size: $h1-font-size;}
h2, .h2{font-size: $h2-font-size;}
h3, .h3{font-size: $h3-font-size;}
h4, .h4{font-size: $h4-font-size;}
h5, .h5{font-size: $h5-font-size;}

/**
    * Focus
    *
    * The "Focus" text is specifically designed for focal points, 
    such as in hero images or similar contexts.
*/

.focus{
    font-weight: $focus-font-weight;
    line-height: $focus-font-height;
}

.focus.is-1{font-size: $focus-1-font-size;}
.focus.is-2{font-size: $focus-2-font-size;}
.focus.is-3{font-size: $focus-3-font-size;}
.focus.is-4{font-size: $focus-4-font-size;}
.focus.is-5{font-size: $focus-5-font-size;}

/*
    * Font Family
    *
    * There are situations where you may want to blend two font types to achieve a visually 
    pleasing aesthetic. However, for design simplicity and to prevent visual overload, we will 
    limit font choices to just two options.
*/

.has-font-family,
.has-font-family.is-initial
{
    font-family: inherit;
}

.has-font-family.is-special{
    font-family: $special-font-family !important;
}

/*
    * Subtitle
*/

.subtitle{
    font-weight: $subtitle-font-weight;
    line-height: $subtitle-font-height;
}

.subtitle.is-1{font-size: $subtitle-1-font-size;}
.subtitle.is-2{font-size: $subtitle-2-font-size;}
.subtitle.is-3{font-size: $subtitle-3-font-size;}
.subtitle.is-4{font-size: $subtitle-4-font-size;}
.subtitle.is-5{font-size: $subtitle-5-font-size;}


/*
.has-spacing{
    letter-spacing: $max-font-spacing;
}
*/
.has-underline{
    position: relative;
    display: inline-block;
}

.has-underline::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    top: calc(100% + .125rem);
    background-color: rgba(0, 0, 0, 0.075)
}

.has-underline.is-primary::after{
    background-color: red;
}
